@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* || RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
    background-color: #cccccc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3;
}

:focus-visible {
    outline-offset: 4px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, textarea, button {
    font: inherit;
}

/* || VARIABLES */

:root {
    /* FONTS */
    --FF: Roboto, sans-serif;
    --FF-HEADINGS: sans-serif;
    --FS: clamp(1rem, 2.2vh, 1.5rem);    

    /* COLORS */
    --BODY-BGCOLOR: #fff;
    --FONT-COLOR: #333;
    --BORDER-COLOR: #ccc;
    --SUCCESS-COLOR: #008000;;
    --SUCCESS-HOVER: #2b542c;
    --LINK-COLOR: #428bca;
    --LINK-HOVER: #2a6496;
    --NAV-BGCOLOR: #e9e3e3;
    --INFO: #31708f;
    --INFO-HOVER: #245269;
    --WARN: #8a6d3b;
    --WARN-HOVER: #8a6d3b;
    --DANGER: #a94442;
    --DANGER-HOVER: #843534;
    --BLACK: #000;
    --WHITE: #fff;
    --NAV-HOVER: #e7e7e7;
    --FOOTER-BG: #185359;


    /* || BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);

    /* || STANDARD PADDING */
    --PADDING-T-B: 0.25em;
    --PADDING-SIDE: 2.5%;
    --SECTION-PADDING: 20px;

    /* || STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em)0;

    /* SHADOW */
    --SHADOW: 0 1px 2px rgba(0,0,0,.075);    
}

/* || UTILITY CLASSES */
.center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.caretDown {
    color: var(--FONT-COLOR);
    font-size: 11px;
}

.info-color {
    color: var(--LINK-COLOR);
}

.primary-color {
    color: var(--LINK-COLOR);
}

.primary-color:hover {
    color: var(--LINK-HOVER);
    text-decoration: underline;
}

.container {
    margin: 0 10px;
}

.submit-btn {
    padding: 0 3px;
    cursor: pointer;
}

.primary-btn {
    background-color: #428bca;
    color: var(--WHITE);
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

input[type='submit'] {
    cursor: pointer;
}

input[type='text']:focus, input[type='email']:focus, textarea:focus {
    outline: none;
}

.primary-btn:hover {
    background-color: var(--LINK-HOVER);
}

.no-focus:focus {
    outline: none;
}

.warn-color {
    color: #e49503;
}

.success-color {
    color: var(--SUCCESS-COLOR);
}

.padding-top {
    padding-block-start: calc(var(--SECTION-PADDING) + 50px);
}
/* || GENERAL STYLES */

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BODY-BGCOLOR);
}

body {
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
}

h1, h2, h3 {
    font-family: var(--FF-HEADINGS);
    letter-spacing: 0.1em;
}

p {
    /* DONT ADD UNIT TO THE LINE-HEIGHT */
    line-height: 1.4; 
}

a:any-link {
    text-decoration: none;
}


li {
    list-style-type: none;
}

/* || HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    z-index: 4;
    padding-block: 10px;
    border-block-end:1px solid #ededed;
}

header.active {
    filter: drop-shadow(var(--SHADOW));
}

/* NAV BAR */
nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li a {
    display: block;
    padding: 10px 15px;
    color: var(--FONT-COLOR);
}

nav li a:hover, nav li a:focus-visible {
    color: var(--BLACK);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--BODY-BGCOLOR);
    min-width: 200px;
    z-index: 1;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu li a {
    padding: 5px;
}

.dropdown-menu li a:hover {
    background-color: var(--NAV-HOVER);
}

nav li:hover > .dropdown-menu {
    display: block;
}

.active-link {
    background-color: var(--NAV-HOVER);
    border-radius: 5px;
}

.inactive-link {
    background-color: none;
}

/* HERO */
.hero-content {
    background-image: url('images/jumbotron5.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--WHITE);
    padding: 65px 60px;
    margin-bottom: 30px;
    font-size: 21px;
    margin-top: 10px;
}

.hero-content h1 {
    font-size: 55px;
    margin-bottom: 15px;
}

.breadcrumbs {
    display: flex;
    gap: 5px;
    margin: 3px 10px;
}

.search-box {
    margin-left: 50px;
}

/* MAIN SECTION */
.main-section {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.subscribe-window {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 130%;
}

.subscribe-form {
    border: 1px solid var(--BORDER-COLOR);
    text-align: center;
    padding: 3px;
}

.subscribe-form p:first-child, .column .column-h2 {
    color: blue;
}

.subscribe-window img {
    border: 1px solid var(--BORDER-COLOR);
}

.subscribe-window h3 {
    color: var(--LINK-HOVER);
}

.subscribe-window p {
    color: #4cb2cf;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* SERVICE */
.service-content {
    margin-right: 15px;
}

.service-content-head {
    background-color: var(--FOOTER-BG);
    margin: 0 -5px 10px;
    padding: 30px 0 10px 0;
    font-size: 24px;
    line-height: 1.19em;
    color: var(--WHITE);
    font-family: 'Titillium Maps', Arial;
    text-shadow: #000000 1px 1px;
    text-align: center;
    background: #185359;
}

.service-content-txt {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

/* DISEON PAGE */
.service-content-img {
    float: left;
    margin: 0 10px 0 0;
}
/* DISEON PAGE */

.service-content-txt p span{
    color: var(--FONT-COLOR);
    line-height: 19px;
}

.service-content-head-first {
    color: #227ab4;
    line-height: 26px;
    letter-spacing: -1px;
    font-size: 24px;
}

.service-content-head-second {
    color: #227ab4;
    font-family: 'Open Sans';
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1.1em;
}

/*  QUICK ACCESS */
.quick-link {
    width: 120%;
}

.quick-access-header {
    width: 60%;
    padding: 1px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.quick-link li {
    list-style-type: disc;
    padding-top: 5px;
}

/* SECOND MAIN SECTION */
.second-main-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;    
    margin-top: 30px;
}

.row h3 {
    margin-bottom: 10px;
    text-align: center;
    background-color: #428bca;
    color: var(--WHITE);
    padding: 8px;
    border-radius: 6px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.row img {
    max-width: 100%;
    max-height: 150px;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-shadow: var(--SHADOW);
    padding: 5px 30px;
    margin: 10px auto;
}

.row img:hover {
    border-color: #428bca;
}

.row p {
    text-align: justify;
    margin-top: 20px;
}

.contact-link {
    display: block;
    margin-top: 10px;
}

/* FOOTER SECTION */
.footer {
    margin: 20px 20px 10px;
    font-size: 24px; 
    font-family: 'Titillium Maps', Arial;
    font-weight: normal;
    line-height: 1.19em;
    color: var(--WHITE);
    padding: 5px;
    text-shadow: #000000 1px 1px;
    text-align: center;
    background: var(--FOOTER-BG);
}

/* SEO PAGE */
.seo {
    margin: 70px 0;
}

.ordered-list, .unordered-list  {
    padding-left: 20px;
}

.ordered-list li {
    list-style-position: inside;
    list-style-type: decimal;    
    padding-bottom: 5px;
}

.unordered-list li {
    list-style-position: inside;
    list-style-type: disc;
    line-height: 18px;
    margin-bottom: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* E-COMMERCE */
.e-commerce .service-content {
    width: 200%;
}

/* JOOMLA PAGE */
.joomla {
    margin: 70px 0;
}

.service-content-h2 {
    border-bottom: 2px solid rgb(20,40,73);
    overflow: hidden;
}

.inner-div {
    background-color: #f6f6f6;
    box-shadow: 1px 1px 8px rgb(204,204,204);
    font-size: 15px;
    padding: 20px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.inner-div li {
    color: var(--INFO);
    margin-top: 3px;
}

.inner-div ul li:not(:first-child) {
    margin-left: 20px;
}

/* SEO IMAGNE */
.seo-imgne {
    margin-top: 70px;
}

.seo-imgne-container {
    margin-bottom: 120px;
}

.service-content-ul li {
    list-style-type: disc;    
    color: #008080;
}

.service-content-li::marker {
    color: var(--FONT-COLOR);
}

.underline-span {
    text-decoration: underline;
}

.author-section {
    background-color: #EFEFEF;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    overflow: hidden;
    color: var(--BLACK);
}

.pagination-li {
    list-style-type: disc;
}

/* COMPIROBAR PAGE */
.h3-section {
    background-color: whitesmoke;
    border-top: 1px solid #cccccc;
    padding: 10px 0px 10px 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.paper-icon {
    display: flex;
    align-items: center;
    margin-right: 5px;
    gap: 5px;
}

.h3-section ul {
    margin-top: 20px;
}

.h3-section li {
    margin-left: 20px;
}

#search-compirabar {
    margin-top: 30px;
}

/* ANALISIS */
.search-analisis {
    display: flex;
    gap: 10px;
}

#search-box {
    background-color: #EFE;
    border: 2px solid #6C8;
}

#search-box:focus {
    border-color: var(--BLACK);
}

#search-btn {
    border: solid 1px #806666;
    margin: 0 10px 0 0;
    padding: 3px 10px 3px 10px;
}

/* MAPA DEL SITIO */
.pages-link li {
    margin-bottom: 10px;
}

.blog-pages {
    margin-left: 20px;
}

/* PLANTILLA */
.plantilla-img {
    width: 50%;
    margin: 30px auto;
}

.template-txt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.template-img {
    margin-left: 10px;
}

/* DEMO PLAN NAVTILLA */
.demo-head {
    text-align: center;
    font-size: 2.5rem;
    margin: 30px;
    text-decoration: underline;
}

.demo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 20px 80px;
}

.demo-container h3 {
    color: #ca52eb;
    margin-bottom: 20px;
}

.item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px 30px;
    border-radius: 6px;
    text-shadow: var(--SHADOW);
}

.item img:hover {
    border-color: #428bca;
}

.demo-container p {
    color:#4cb2cf;
    text-align: justify;
    margin-top: 20px;
}

.readmore-btn {
    background-color: #428bca;
    color: var(--WHITE);
    padding: 8px;
    border: none;
    border-radius: 5px;
    display: flex;
    gap: 3px;
    align-items: center;
    margin-top: 10px;
}


/* DEMO MODULO */
.content-txt {
    background-color: #ddd;
    text-align: center;
    padding: 20px 50px;
    color: var(--WHITE);
    margin-bottom: 30px;
}

.content-txt h1 {
    font-size: 3rem;
}

/* MODULE BLOQUE */
.module-bloque-h3 {
    color: #ca52eb;
    font-size: 1.5rem;
    font-weight: 500;
}

.module-bloque-img {
    border: 1px solid #ddd;
    border-radius: 6px;
    text-shadow: var(--SHADOW);
    margin-left: auto;
    margin-right: auto;
}

.colored-paragraph {
    color:#4cb2cf;
    margin-bottom: 60px;
}

/* CONTACT */
.contact {
    margin: 10px 300px 70px;
}

.contact-form {
    padding: 20px;
}

.contact-form legend {
    font-size: 1.5rem;
}

.list-text input {
    padding: 2px;
    margin-right: 5px;
}

.contact-form img {
    display: inline;
}

/* SERVICES */
.services {
    margin-top: 70px;
}

.services-tel {
    font-weight: bold;
    color: var(--BLACK);
}

.services .author-section {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
}

.services .pagination-ul {
    margin-left: 40px;
    margin-top: 20px;
}

.services .pagination-li {
    padding-top: 5px;
}

.acelerar-container h2 {
    font-weight: 500;
    margin-top: 20px;
}

.acelerar-container ul {
    margin-left: 40px;
}

.acelerar-container li {
    padding-top: 10px;
}

/* ALTA NE BUSCADORES */
.alta-neBuscadores-container form, .alta-neDirectories-container form {
    margin: 20px 0;
}

.alta-neBuscadores-container select, .alta-neDirectories-container select {
    padding: 3px;
    margin: 10px 0;
}

/* ALTA NE DIRECTORIES */
.alta-neBuscadores-container img, .alta-neDirectories-container img {
    display: inline;
}

.alta-neDirectories-container ul {
    margin-left: 20px;
}

.alta-neDirectories-container ul li {
    list-style-type: disc;
    padding-top: 5px;
}

/* CURSOS */
.cursos-container ul {
    margin-left: 20px;
}

.cursos-container li {
    list-style-position: inside;
    list-style-type: disc;
    padding-top: 5px;
}

.cursos-container h2 {
    font-weight: 500;
    margin-top: 20px;
}

/* ELIMINACION */
.eliminacion-container input {
    padding: 3px;
}

/* HOSTING */
.hosting-container img {
    margin-left: auto;
    margin-right: auto;
}

/* OPTIMIZACION */
.optimizacion-container iframe {
    margin-left: auto;
    margin-right: auto;
}

.optimizacion-container ul {
    margin-left: 20px;
}

.optimizacion-container li {
    list-style-position: inside;
    list-style-type: disc;
    padding-top: 3px;
}
















/* NOT FOUND PAGE */
.notFoundContainer {
    width: 100vw;
    height: 100vh;
    background-color: var(--NAV-BGCOLOR);
}

.notFound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--WHITE);
    padding: 30px;
    box-shadow: 0 0 10px 10px #00000033;
    border-radius: 10px;
}

.notFoundH1 {
    font-family: futura;
    font-size: 10rem;
    text-align: center;
    margin-bottom: 20px;
}

.notFound .notFoundContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
    padding: 0 10px;
}

.notFound .notFoundContent p {
    text-align: center;
}

.notFound .notFoundContent span {
    font-family: futura;
    margin-bottom: 20px;
    font-weight: bolder;
    display: block;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.notFoundLink {
    margin-top: 20px;
    padding: 16px 26px;
    border-radius: 50px;
    color: var(--WHITE);
    background-color: var(--LINK-COLOR);
    border: 1px solid var(--LINK-COLOR);
}

.notFoundLink:hover {
    color: var(--LINK-COLOR);
    background-color: transparent;
    border: 1px solid var(--LINK-COLOR);
}